@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");

:root {
  --primary-color: #c2b290;
  --secondary-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #000000;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

#navbar ul {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

#navbar ul li {
  color: #d4ccc5;
  padding: 4rem;
  position: relative;
}

#navbar ul li a {
  color: #d4ccc5;
  text-decoration: none;
  font-size: 22px;
}

#navbar ul li:hover a {
  color: white;
}

#article {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45rem;
  text-align: center;
  background: #dcdcdc;
  justify-content: center;
  padding-top: 5.4rem;
  background-image: url(leaf-g77db3d843_1920.jpg);
}

#article_Photos {
  display: flex;
  flex-direction:inherit;
  background: #dcdcdc;
}

.section_over {
  width: 600px;
  padding: 2rem;
}

.section_over p {
  text-align: center;
  font-size: 30px;
}

.section_over h1 {
  font-size: 40px;
}

.section_under {
  padding: 5rem;
}

.section_under img {
  width: 1000px;
  height: 600px;
}
/* cat is for about website */
.section_over_cat {
  width: 600px;
  padding: 0.7rem;
}

.section_over_cat p {
  text-align: center;
  font-size: 30px;
}

.section_over_cat h1 {
  font-size: 40px;
}

.section_under_cat {
  padding: 6rem;
}

.section_under_cat img {
  width: 1000px;
  height: 600px;
}
/* about part over */
#footer {
  display: flex;
  height: 10rem;
  width: 100%;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  padding-bottom: 5rem;
}

.info {
  color: white;
  align-content: center;
  padding-left: 5rem;
  position: absolute;
  padding-top: 4rem;
}

.websites {
  text-align: center;
  padding-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  .info {
    padding-left: 0rem;
  }
  #navbar ul li {
    padding: 0.5rem;
  }
  #navbar ul li a {
    font-size: initial;
  }
  #article {
    height: 43rem;
    flex-direction: column;
    padding-left: 0rem;
    padding-bottom: 15rem;
    padding-top: 22rem;
  }

#article_photos {
    height: 50%;
    flex-direction: column;
    padding-left: 0rem;
  }

  .section_over {
    width: 20rem;
  }
  .section_over p {
    font-size: 20px;
  }
  .section_over h1 {
    font-size: 4px;
  }
  .section_under {
    padding: 2rem;
  }
  .section_under img {
    width: 420px;
    height: 200px;
  }
  .section_over_cat {
    width: 20rem;
    padding: 1rem;
  }
  .section_over_cat p {
    font-size: 20px;
  }
  .section_over_cat h1 {
    font-size: 4px;
  }
  .section_under_cat {
    padding: 2rem;
  }
  .section_under_cat img {
    width: 420px;
    height: 200px;
  }
}

@media screen and (max-height: 1100px) {
  #article {
    height: 43rem;
    flex-direction: column;
    padding-left: 0rem;
    padding-bottom: 15.5rem;
    padding-top: 22rem;
  }

#article_photos {
    height: 50%;
    flex-direction: column;
    padding-left: 0rem;
  }


  .section_over {
    width: 20rem;
  }
  .section_over p {
    font-size: 20px;
  }
  .section_over h1 {
    font-size: 25px;
  }
  .section_under {
    padding: 2rem;
  }
  .section_under img {
    width: 420px;
    height: 200px;
  }
  .section_over_cat {
    width: 20rem;
  }
  .section_over_cat p {
    font-size: 20px;
  }
  .section_over_cat h1 {
    font-size: 25px;
  }
  .section_under_cat {
    padding: 2rem;
  }
  .section_under_cat img {
    width: 420px;
    height: 200px;
  }
}

@media screen and (min-height: 1000px) {
  #article {
    height: 68rem;
  }

  #article_Photos {
    height: 90rem;
  }
}
@media screen and (min-width: 750px) {
  #navbar ul li {
    padding: 3rem;
  }
}
